body{
    background: black;
}


.card-main{
    border: 0.2rem solid rgb(164, 101, 53);
    border-radius: 3%;
    padding: 1rem;
    width: 38vw; 
    height: 38vw; 
    min-width: 500px;
    margin: auto;
    margin-bottom: 2vw;
}

@media screen and (max-device-width: 4in) and (orientation: landscape){
    .card-main{
        border: 0.2rem solid rgb(69, 27, 167);
        border-radius: 3%;
        padding: 1rem;
        width: 80vw;  
        height: 80vw; 
        margin: auto;
        margin-bottom: 2vw;
    }
}


@media screen and (max-device-width: 4in) and (orientation: portrait){
    .card-main{
        border: 0.2rem solid rgb(67, 70, 36);
        border-radius: 3%;
        padding: 1rem;
        width: 80vw;  
        height: 80vw; 
        margin: auto;
        margin-bottom: 2vw;
    }
}
