body{
    background: black;
}
header{
    background-color: black;     
}
.card-img-top{
    background-color: black;  
    width: 40vw;
}
.card-body{
    background-color: black;  
    width: 40vw;
}
.card-text{
    background-color: black;  
    width: 35vw;
    margin: auto;
}


.card-img-top{
    width: 45vw;
    height: 30vw;
    background: url('placeholder.jpg');
    background-size: cover;
    border-radius: 3%;
}

.container{
    border-color: red;
}
h3{
    color: white;
}
p{
    color: white;
    
}
h1{
    color: white; 
}
h6{
    color: white;
}

span{
    color: #c9bebe;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(230, 206, 206);
}
.activeLink{
    background: white;
    color: black;
    border-radius: 4%;
}
.activeTab{
    background: white;
    color: black;
    border-radius: 4% 4% 0 0;
}
.tab{
    font-size: small; 
}
.logo{
    width: 2vw;
    border-radius: 4%;
    background-color: white;
}
.sort{
    width: max-content;
    float: left;
    padding-left: 2vw;
    
}
.sortconatiner{
    width: 80vw;
    float: left;
}
a{
    text-decoration: none;
}
.cardrow{
    
    margin: auto;
    width: fit-content;
}
#cards{
    margin: auto;
    width: 80vw;
}

.card-main{
    border: 0.2rem solid rgb(164, 101, 53);
    border-radius: 3%;
    padding: 1rem;
    width: 38vw; 
    height: 38vw; 
    min-width: 500px;
    margin: auto;
    margin-bottom: 2vw;
}

@media screen and (max-device-width: 4in) and (orientation: landscape){
    .card-main{
        border: 0.2rem solid rgb(20, 143, 34);
        border-radius: 3%;
        padding: 1rem;
        width: 80vw;  
        height: 80vw; 
        margin: auto;
        margin-bottom: 2vw;
    }
}


@media screen and (max-device-width: 4in) and (orientation: portrait){
    .card-main{
        border: 0.2rem solid rgb(67, 70, 36);
        border-radius: 3%;
        padding: 1rem;
        width: 100px;
        margin: auto;
        margin-bottom: 2vw;
    }
}
